* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightgray;
  font-family: Arial, Helvetica, sans-serif;
}

/*utils*/
.container {
  margin: 0 auto;
  max-width: 1080px;
}

.d-inline {
  display: inline;
}

.bar {
  height: 100px;
  background-color: #fff;
  line-height: 100px;
  padding-left: 20px;
  margin-bottom: 30px;
}


.logo {
  vertical-align: middle;
}

header h1 {
  vertical-align: middle;
  font-weight: 900;
  font-size: 2.8em
}

/*main*/
.box {
  background-color: #fff;
  border-radius: 10px;
}
 

.primary-tab {
  height: 100px;
  border-bottom: 2px solid lightgrey;
}

  

.secondary-tab {
  height: 100px;
}